.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #A66CFF;
}

.refresh-btn {
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: auto;
  margin-top: 30px;
  font-size: 30px;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #A66CFF;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px #2f6627;
  background: #B1E1FF;

}

h1 {
  margin: 30px;
  font-family: 'Mouse Memoirs', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #B1E1FF;
}

p {
  font-size: 2rem;
  color: #B1E1FF;
  font-family: 'Mouse Memoirs', sans-serif;

}

img {
  width: 80%;
}
