.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #A66CFF;
}

h1 {
  margin: 30px;
  font-family: 'Mouse Memoirs', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #B1E1FF;
}

p {
  font-size: 2rem;
  color: #B1E1FF;
  font-family: 'Mouse Memoirs', sans-serif;

}

img {
  width: 80%;
}
